    <footer id="foot">
        <div class="social-media">
            <a href="#" class="social"><i class='bx bxl-facebook'></i></a>
            <a href="#" class="social"><i class='bx bxl-twitter'></i></a>
            <a href="#" class="social"><i class='bx bxl-instagram'></i></a>
            <a href="#" class="social"><i class='bx bxl-github'></i></a>
        </div>
            <p id="cr">Copyright &copy; 2021</p>
    </footer>
