    <div class="ui secondary menu">
        <a href="#"><img  id="logo" src="/img/job.png" alt="job"></a>
        <div class="right menu">
            <a class="item" href="{{ path('addJob') }}">Add Job</a>
            <a class="item" href="{{ path('list') }}">View Jobs</a>
            <a class="item" href="{{ path('app_logout') }}">Logout</a>
        </div>
    </div>
